@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";


$primary-gradient: linear-gradient(to right, #20c997, #09dff2);
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary-gradient {
  background: $primary-gradient;
}
.bg-blur{
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-bright{
  color: var(--foreground);
  background: var(--background);
}
.full-vh{
  height: 100vh;
}