@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";


$primary-gradient: linear-gradient(to right, #20c997, #09dff2);
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary-gradient {
  background: $primary-gradient;
}

.bg-blur{
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-bright{
  color: var(--foreground);
  background: var(--background);
}

.full-vh{
  height: 100vh;
}

header{
  height: 4em;
}

footer {
  background-color: #30314f;
}

.background-container {
  width: 100%;
  height: 50vh;
  background-image: url('../public/image-mockups.png'), url('../public/bg-intro-mobile.svg');
  background-position: bottom, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

@media (min-width: 768px) {
  .w-md-100{
    width: 100% !important;
  }
  .w-md-50{
    width: 50% !important;
  }
  
  .background-container{
    background-image: url('../public/image-mockups.png'), url('../public/bg-intro-desktop.svg');
    height: 75vh;
    background-position: bottom left, bottom left;
  }
}